/***** BASE STYLES *****/
html {
	height: 100%;
	width: 100%;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	color: #2b2b2b;
	height: 75%;
	min-width: 1200px;
}

.home {
	background: url(../img/hero.png);
	background-size: 135%;
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.aboutme {
	background: url(../img/about-hero.png);
	background-size: 135%;
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.work {
	background: linear-gradient(rgba(248,248,255,0),rgba(255,250,250,1.5)), url(../img/work-hero.jpg);
	background-position: center center;
	background-attachment: fixed;
	background-size: 135%;
}

.contact {
	background: radial-gradient(rgba(248,248,255,0),rgba(255,250,250,.75)), url(../img/contact-hero.jpg);
	background-size: 120%;
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

@font-face {
	font-family: Brewery;
	src: url('../fonts/cafe_brewery.ttf') format('truetype');
}

@font-face {
	font-family: Gtek;
	src: url('../fonts/gtek.ttf') format('truetype');
}

/***** GRID *****/

.full-width{
	width: 1200px;
	margin: 0 auto;
}

.full-width-center{
	width: 600px;
	margin: 0 auto;
	vertical-align: middle;
}

.half-width{
	width: 600px;
	float: left;
}

.third-width{
	width: 400px;
	float: left;
}

/***** HEADER *****/
.home-header {
	height: 550px;
	margin-left: 30px;
}

.about-header {
	height: 450px;
	margin-left: 30px;
}

.work-header {
	height: 450px;
	margin-left: 30px;
}

.contact-header {
	height: 400px;
	margin-left: 30px;
}

header h1 {
	font-family: 'Gtek';
	font-size: 30px;
	color: #ad8700;
	padding: 65px 0 65px 25px;
}

header h2 {
    clear: both;
    font-family: 'Brewery';
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 5px;
    text-align: center;
    color: #9b9b9b;
    padding: 100px 0 0 25px;
}

header h2 span {
    color: #008B8B;
}

/* color classes */
.gold {
	color: #ad8700;
}

.peach {
	color: #df744a;
}

.teal {
	color: #008B8B;
}

header img {
	margin-top: 25px;
	width: 45%;
	height: 45%;
}

nav {
	float: right;
	padding: 35px 25px;
}

nav ul li {	
	display: inline-block;
}

nav ul li a {
	font-family: 'Source Sans Pro';
	text-transform: uppercase; 
	text-decoration: none;
	font-size: 18px;
	color: #828282;
	padding-left: 40px;
	padding-bottom: 5px;
}

/* id */
#link {
    border-bottom: #ad8700 solid 2px;
}

/***** SKILLS *****/
#skills {
	margin: 0 auto;
	padding: 0 15px 0 15px;
	text-align: center;
}

#skills i {
	font-size: 2.5em;
	color: #696969;
	text-shadow: 1px 1px 1px #ccc;
}

#skills h3 {
	font-size: 24px;
}

#skills p {
	padding-left: 15px;
	padding-right: 15px;
	font-size: 20px;
	color: #808080;
}

/***** ABOUT *****/
#about {
	background-color: #ececec;
	height: 100%;
}

#about h2 {
	font-size: 24px;
	padding-left: 20px;
}

#about p {
	font-size: 20px;
	color: #808080;
	line-height: 25px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 145px;
}

/***** WORK *****/
#work {
	background-color: #ececec;
	height: 100%;
	text-align: center;
}

.banner {
	padding-top: 150px;
}

#work h2 {
	font-size: 24px;
	margin-top: 10px;
	margin-bottom: 0px;
}

#work h5 {
	color: #696969;
	margin-top: 0px;
}

#work p {
	font-size: 18px;
	color: #696969;
	line-height: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 60px;
}

#work img{
	border: 3px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
    height: 100px; /* Set a small height */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/***** CONTACT *****/
#contact {
	height: 100%;
}

#contact h1 {
    font-family: 'Brewery';
    font-size: 48px;
    line-height: 30px;
    letter-spacing: 5px;
	color: #008B8B;
	padding-left: 110px;
}

#contact p {
	font-size: 20px;
	color: #fafafa;
	padding-left: 110px;
	padding-right: 20px;
	padding-bottom: 5px;
}

#contact a {
	color: #fafafa;
}

#contact i {
	color: #ad8700;
}

/***** FOOTER *****/
footer p {
	margin-top: 340px;
	text-align: center;
}